body{
    background-color: black;
}

.imagem-Fundo{
    background-image: url(./imagens/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: azure;
    max-width: 1440px;
    height: 860px;
    margin: auto;
    margin-top: 60px;

}

.card{
    box-sizing: border-box;
    max-width: 450px;
    height: 700px;
    background-color: white;
    margin: auto;
    position: relative;
    top: 80px;
    border-radius: 20px;
}

.imagem-Card{
   border-radius: 20px 20px 0px 0px;
   box-sizing: border-box;
}

.texto{
    color: black;
    padding: 25px;
}

.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
}

.paragrafo{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: gray;
}

.annual-Plan{
    box-sizing: border-box;
    background-color: azure;
    max-width: 360px;
    margin: auto;
    height: 100px;
    border-radius: 10px;
    
}


.texto-Plan{
    margin-left: 100px;
    position: relative;
    top: 20px;
    font-size: 16px;
}



.icon{
    float: left;
    margin-left: 25px;
    position: relative;
    bottom: 50px;
    
}

a{
    float: right;
    margin-right: 25px;
    position: relative;
    bottom: 40px;
   
}

.pagamento{
    box-sizing: border-box;
    background-color: rgb(77, 55, 219);
    max-width: 360px;
    height: 48px;
    margin: auto;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 10px
}

.texto-Pagamento{
    box-sizing: border-box;
    margin-left: 90px;
    padding: 10px;
    
}

.cancel{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: gray;
    font-weight: bold;
    position: relative;
    top: 30px;
}




